[mysqld]
skip_name_resolve
bind-address            = 0.0.0.0
innodb_buffer_pool_size = 1G
join_buffer_size = 10M
max_allowed_packet      = 64M
sort_buffer_size        = 4M
tmp_table_size          = 32M
max_heap_table_size     = 32M
connect_timeout         = 5
wait_timeout            = 900
federated

#
# * MyISAM
#
key_buffer_size         = 128M
table_open_cache        = 400
myisam_sort_buffer_size = 512M
concurrent_insert       = 2
read_buffer_size        = 2M
read_rnd_buffer_size    = 1M

#
# * InnoDB
#
default_storage_engine  = InnoDB
innodb_buffer_pool_size = 1G
innodb_log_buffer_size  = 8M
innodb_file_per_table   = 1
innodb_open_files       = 400
innodb_io_capacity      = 400
innodb_flush_method     = O_DIRECT
join_buffer_size = 10M

#
# * MySQL 8
#
default_authentication_plugin=mysql_native_password

sql_mode=

# todo deterministic
log_bin_trust_function_creators = true

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

# deshabilitar los log bin
disable_log_bin
